$body-background-color: #fefefe;

@font-face {
  font-family: 'Dummy Font';
  src: url(../fonts/dummy-font.eot);
}

body {
  background-color: $body-background-color;
  font-family: 'Dummy Font';
}

.gradient {
  background-image: url(../img/gradient_26Ko.jpg) no-repeat;
}

.gradient-low {
  background-image: url(../img/gradient_low_2Ko.jpg) no-repeat;
}
